@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient( #ff00f2, #fff9f9); 
}

h1 {
  font-family: "Montserrat";
  text-align: center;
}

h2 {
  font-family: "Montserrat";
  width: 90%;
  margin: 15px auto 15px auto;
}

.my-bookmarks {
  margin: auto;
  width: 100%;
}

.bookmark-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookmark-list {
  padding: 0;
}

.bookmark {
  margin: 15px 10px 15px 10px;
  border-radius: 5px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.bookmark .bookmark-title {
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.bookmark .bookmark-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 10px 15px 10px 15px;
  background-color: #fff;
}

.bookmark .bookmark-description {
  padding: 10px 15px 10px 15px;
  width: 100%;
  background-color: #fff;
}

.bookmark h2 {
  font-family: "Lora";
  margin-left: 20px;
  font-size: 20px;
}

.bookmark h3 {
  font-family: "Lora";
  margin: 10px 0px 10px 0px;
}

.bookmark p {
  font-family: "Hind Madurai";
  margin: 10px 20px 10px 0px;
  min-width: fit-content;
}

/* Styling for the Bookmark in Edit Mode */

.edit-bookmark {
  border: grey solid 1px;
  margin: 15px 10px 15px 10px;
  border-radius: 5px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.edit-bookmark .bookmark-title {
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}

.edit-bookmark .bookmark-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50px;
}

.edit-bookmark .bookmark-description {
  padding: 10px 15px 10px 15px;
  width: 100%;
}

.edit-bookmark h2 {
  font-family: "Lora";
  margin-left: 20px;
  font-size: 20px;
}

.edit-bookmark h3 {
  font-family: "Lora";
}

.edit-bookmark p {
  font-family: "Hind Madurai";
  margin-right: 20px;
  min-width: fit-content;
}

/* ---------------------------------------- */

.btn {
  font-family: 'Hind Madurai';
  background-color: #000000;
  color: #fff;
  border-radius: 3px;
  border: 0;
  font-size: 14px;
  padding: 10px 15px 10px 15px;
  margin: 10px 10px 10px 0px;
}

.error-message {
  display: flex;
  justify-content: space-between;
  background-color: #fd0000;
  width: 90%;
  margin: auto;
  padding: 0px 15px 0px 15px;
}

.error-message p {
  color: #A31D02;
  font-family: "Hind Madurai";
}

input {
  display: block;
  width: 100%;
  font-family: "Hind Madurai";
  margin: 5px 0px 5px 0px;
  padding: 5px;
}

label {
  font-family: "Lora";
  font-size: 20px;
}

textarea {
  display: block;
  font-family: "Hind Madurai";
  width: 100%;
  height: 6rem;
  margin: 5px 0px 5px 0px;
  padding: 5px;
}

select {
  font-family: "Hind Madurai";
}

form {
  width: 90%;
  margin: auto;
}

.form-buttons {
  height: 50px;
  display: flex;
  align-items: center;
}

.filter {
  height: 36px;
  width: 117px;
}

.filter-label {
  display: none;
}

i {
  color: #fff;
  padding: 2px;
}

@media all and (min-width: 800px) {
  .my-bookmarks {
    width: 40vw;
  }

  .btn {
    font-family: 'Hind Madurai';
    background-color: #000000;
    color: #fff;
    border-radius: 3px;
    border: 0;
    padding: 10px 15px 10px 15px;
    margin: 20px 15px 20px 0px;
  }
}